.transparent-navbar {
  background-color: rgba(0, 0, 0, 0.349);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  backdrop-filter: blur(6px);
}

.scrolled-navbar {
  background-color: rgba(0, 0, 0, 0.9) !important;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}




.navbar .nav-link,
.navbar .navbar-brand,
.navbar .btn {
  color: white !important;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.navbar .btn-outline-light {
  border-color: white;
}

.navbar .btn-outline-light:hover {
  background-color: white;
  color: #222 !important;
}

.hero-section {
  padding-top: 100px;
}
